* {
    margin: 0;
    padding: 0;
}

body{
    background-color: #20202B;
}

.container-fluid-display-flex {
    display: flex;
    justify-content: space-between;
}

.img-fluid {
    max-width: 55px;
    min-width: 45px;
    width: auto;
    height: 52px;
}

.perfil{
    border-radius: 10px;

}

.feed{
    border-radius: 10px;
    display: grid;

}

.row{
    gap: 1rem;
}

.col-8{
    width: 73%;
}

.col-3{
    width: 25%;
}

.repo-linguagens{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.repositorios {
    height: 145px;
    align-items: center;
    display: flex;
    font-size: 35px;
    color: white;
    text-align: center;
    background-color: #282836;
    border-radius: 10px;
    width: 20%;
    justify-content: center;
}

.repositorios > p{
    margin-bottom: 0px;
}

.logo-ling {
    margin-left: 20px;
    margin-right: 20px;
}
.linguagens {
    display: flex;
    flex-wrap: wrap;
    background-color: #282836;
    border-radius: 10px;
    height: 145px;
    align-items: center;
    width: 75%;
    justify-content: center;
}