* {
    margin: 0;
    padding: 0;
}

body{
    background-color: #20202B;
}

.container-fluid-display-flex {
    display: flex;
    justify-content: space-between;
}

.img-fluid {
    max-width: 55px;
    width: auto;
    height: 52px;
}

.perfil{
    border-radius: 20px;
    background-color: #282836;

}

.feed{
    border-radius: 10px;
    display: grid;

}

.row{
    gap: 1rem;
    margin: auto;
}

.col-7{
    width: 70%;
    height: 100%;
}

.col-5{
    width: 25%;
    height: 100%;
}

.repo-linguagens{
    width: 100%;
    display: flex;
    align-items: center;

}
#img_tema{
    max-width: 25px;
}

.repositorios {
    height: 145px;
    align-items: center;
    display: flex;
    font-size: 35px;
    color: white;
    text-align: center;
    background-color: #282836;
    border-radius: 20px;
    width: 20%;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    margin-right: 20px;
    padding: 15px;
}

.card{
    background-color: #282836;
    border-radius: 20px;
    margin-top: 40px;
    width: 100%;
    color: white;
}


.card-header{

}

.repositorios > p{
    margin-bottom: 0px;

}

.button_post{
    border-radius: 15px;
    padding: 8px;
    margin: auto;
    margin-top: 50px;
    outline: none;
    border: none;
    width: 80%;
    background-color: #0D6EFD;
    color: white;
}

.logo-ling {
    margin-left: 20px;
    margin-right: 20px;
    height: 52px;
    cursor: pointer;
}

.logo-ling:hover{
    padding: 10px;
    background-color: white;
    opacity: 1;
    border-radius: 20px;
}

.linguagens {
    display: flex;
    flex-wrap: wrap;
    background-color: #282836;
    border-radius: 20px;
    height: 145px;
    align-items: center;
    width: 82%;

    justify-content: center;
}

.localizacao {
    display: flex;
    justify-content: center;
}

.cima-perfil {
    margin-top: 30px;
    color: white;
    display: grid;
}

.cima-perfil >h1{
    font-size: 1.5rem;
    margin-top: 15px;
}

.usuario-foto{
    width: 40%;
    margin: auto
}

.container_principal{
    margin: 0px 25px 0px 25px;
}

.meio-perfil{
    height: 50px;
    color: white;
    display: flex;
    margin: auto;
}

p2{
    margin: auto 0px;
    margin-left: 20px;
}

.baixo-perfil{
    height: 50px;
    color: white;
    display: flex;
}

.repositorio_logo{
    width: 60%;
    height: 40%;
}

.perfil > hr{
    color: white;
    border-radius: 10px;
}

.logo_uni{
    max-width: 70px;
    height: 65%;
    margin: auto 0px;
}

.logo_github{
    max-width: 70px;
    height: 56%;
    margin: auto 0px;
}

#foto_card{
    max-width: 10%;
    margin: auto 0px 20px auto;
}

@media (min-width: 340px) and (max-width: 991px)  {
    .usuario-foto{
        width: 26%;
        margin: auto;
    }

    .col-5{
        width: 60%;
        height: 50%;
        margin: auto;
    }

    .col-7{
        width: 100%;
        height: 100%;
    }

    .logo-ling{
        height: 43px;
    }
  }



@media (min-width: 345px) and (max-width: 772px)  {
    .usuario-foto{
        width: 26%;
        margin: auto;
    }

    .col-5{
        width: 100%;
    }

    .repositorios{
        width: 25%;
    }
  }


  @media (max-width: 442px)  {
    .repositorios{
        margin: auto;
        width: 36%;
        display: none;
    }

    .repo-linguagens{
        flex-wrap: wrap;
        margin-top: 15px;
    }

    .linguagens{
        width: 100%;
        padding: 6px;
    }
  }




  .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

  .container_edit{
    display: flex;
    color: white;
    margin-top: 30px;
  }

  .container_edit >h5{
    font-size: 95%;
    margin: auto;
  }

